# macOS
.DS_Store

# Node / Vite
node_modules/
dist/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*
.cache/
.coverage
htmlcov/

# IDE
.vscode/

# Local db/files
*.sqlite
*.db
logs/

# Frontend/Backend envs
frontend/.env
backend/.env
